In [21]:
# Sampling
# Read Data

import pandas as pd
from ipynb.fs.full.Common import preprocess_data, evaluate

df = pd.read_csv('jobs.csv')

In [22]:
df = df[['job_description', 'job_title', 'category']]

In [23]:
df['description'] = df['job_title'] + ' ' + df['job_description']

In [24]:
df = df[['description', 'category']]

In [25]:
df = df.dropna().reset_index(drop=True)

In [26]:
df.head()

                                         description category
0  Business Development Executive Job Description...    Sales
1  BPO Hindi Call Center ( CCE ) BPO JOB Fresher ...     ITES
2  Opening For Hr-recruitment Exe-health Insuranc...       HR
3  BCMA - Business Analyst &lt;P&gt; &lt;B&gt; Co...     ITES
4  Centre Manager - Equity / Channel Sales (franc...    Sales

In [27]:
df['category'].unique()

array(['Sales', 'ITES', 'HR', 'IT Software - Application Programming',
       'O', 'IT Software - DBA', 'IT Software - ERP', 'Design',
       'Accounts', 'IT Software - Network Administration', 'TV',
       'Marketing', 'Medical', 'Financial Services',
       'IT Software - Systems', 'I', 'Journalism', 'Teaching', 'Travel',
       'Engineering Design', 'Executive Assistant', 'Strategy',
       'Supply Chain', 'Site Engineering', 'T', 'Production', 'P',
       'Defence Forces', 'Hotels', 'IT Software - eCommerce',
       'IT Software - Embedded', 'IT Hardware', 'A', 'Q', 'S', 'V',
       'Architecture', 'Export', 'C', 'Legal', 'Self Employed',
       'Fashion Designing', 'B', 'R', 'F', 'U', 'M', 'H'], dtype=object)

In [28]:
df.loc[df['category'].str.contains('IT Software'), 'category'] = 'IT Software'

In [29]:
df['category'].unique()

array(['Sales', 'ITES', 'HR', 'IT Software', 'O', 'Design', 'Accounts',
       'TV', 'Marketing', 'Medical', 'Financial Services', 'I',
       'Journalism', 'Teaching', 'Travel', 'Engineering Design',
       'Executive Assistant', 'Strategy', 'Supply Chain',
       'Site Engineering', 'T', 'Production', 'P', 'Defence Forces',
       'Hotels', 'IT Hardware', 'A', 'Q', 'S', 'V', 'Architecture',
       'Export', 'C', 'Legal', 'Self Employed', 'Fashion Designing', 'B',
       'R', 'F', 'U', 'M', 'H'], dtype=object)

In [34]:
index = df[(df['category'].str.len() == 1)].index

In [35]:
df.drop(index , inplace=True)

In [36]:
df['category'].unique()

array(['Sales', 'ITES', 'HR', 'IT Software', 'Design', 'Accounts', 'TV',
       'Marketing', 'Medical', 'Financial Services', 'Journalism',
       'Teaching', 'Travel', 'Engineering Design', 'Executive Assistant',
       'Strategy', 'Supply Chain', 'Site Engineering', 'Production',
       'Defence Forces', 'Hotels', 'IT Hardware', 'Architecture',
       'Export', 'Legal', 'Self Employed', 'Fashion Designing'],
      dtype=object)

In [37]:
df.describe()

                                              description     category
count                                               26759        26759
unique                                              25208           27
top     Assistant Business Process Services &lt;P&gt; ...  IT Software
freq                                                   14        10185

In [75]:
df_1 = df.loc[df['category'] == 'Sales']
df_2 = df.loc[df['category'] == 'ITES']
df_3 = df.loc[df['category'] == 'HR']
df_4 = df.loc[df['category'] == 'IT Software']
df_5 = df.loc[df['category'] == 'Design']
df_6 = df.loc[df['category'] == 'Accounts']
df_7 = df.loc[df['category'] == 'TV']
df_8 = df.loc[df['category'] == 'Marketing']
df_9 = df.loc[df['category'] == 'Medical']
df_10 = df.loc[df['category'] == 'Financial Services']
df_11 = df.loc[df['category'] == 'Journalism']
df_12 = df.loc[df['category'] == 'Teaching']
df_13 = df.loc[df['category'] == 'Travel']
df_14 = df.loc[df['category'] == 'Engineering Design']
df_15 = df.loc[df['category'] == 'Executive Assistant']
df_16 = df.loc[df['category'] == 'Strategy']
df_17 = df.loc[df['category'] == 'Supply Chain']
df_18 = df.loc[df['category'] == 'Site Engineering']
df_19 = df.loc[df['category'] == 'Production']
df_20 = df.loc[df['category'] == 'Defence Forces']
df_21 = df.loc[df['category'] == 'Hotels']
df_22 = df.loc[df['category'] == 'IT Hardware']
df_23 = df.loc[df['category'] == 'Architecture']
df_24 = df.loc[df['category'] == 'Export']
df_25 = df.loc[df['category'] == 'Legal']
df_26 = df.loc[df['category'] == 'Self Employed']
df_27 = df.loc[df['category'] == 'Fashion Designing']

In [76]:
df_1 = df_1.sample(n=500, random_state=3)
df_2 = df_2.sample(n=500, random_state=3)
df_3 = df_3.sample(n=500, random_state=3)
df_4 = df_4.sample(n=500, random_state=3)
df_6 = df_6.sample(n=500, random_state=3)
df_8 = df_8.sample(n=500, random_state=3)
df_9 = df_9.sample(n=500, random_state=3)
df_10 = df_10.sample(n=500, random_state=3)
df_12 = df_12.sample(n=500, random_state=3)
df_19 = df_19.sample(n=500, random_state=3)

In [77]:
df = pd.concat([df_1, df_2, df_3, df_4, df_6, df_8, df_9, df_10, df_12, df_19])

In [78]:
df.head(500)

                                             description category
17586  Client Partner 3Pillar Global is in search of ...    Sales
14278  Field Sales Associates Job Description:-&lt;br...    Sales
5275   Sales Consultant Designation - Sales Consultan...    Sales
26271  Sales,Chemical/Aroma,B2B,Ahemdabad,Delhi,Banga...    Sales
26496  Marketing Executive &lt;ol&gt; &lt;li&gt; Prom...    Sales
...                                                  ...      ...
26027  Relationship Manager Openings for the post of ...    Sales
9800   Business Development Executive &lt;div&gt; Pos...    Sales
197    Business Development Manager Plan &amp; execut...    Sales
5938   Senior Manager - Key Account Management - Indu...    Sales
1694   Assistant.sales Manager- Export &lt;div&gt; &l...    Sales

[500 rows x 2 columns]

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 17586 to 17461
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  5000 non-null   object
 1   category     5000 non-null   object
dtypes: object(2)
memory usage: 117.2+ KB

In [84]:
df.to_csv('jobs_sample.csv', index = False, header = True)

In [81]:
df.describe()

                                              description  category
count                                                5000      5000
unique                                               4866        10
top     Medical Coordinator - MBBS - Hospital Job Resp...  Teaching
freq                                                    3       500

In [82]:
df

                                             description    category
17586  Client Partner 3Pillar Global is in search of ...       Sales
14278  Field Sales Associates Job Description:-&lt;br...       Sales
5275   Sales Consultant Designation - Sales Consultan...       Sales
26271  Sales,Chemical/Aroma,B2B,Ahemdabad,Delhi,Banga...       Sales
26496  Marketing Executive &lt;ol&gt; &lt;li&gt; Prom...       Sales
...                                                  ...         ...
15715  Looking For Quality Engineers Analyze quality ...  Production
17339  Maintenance Engineer - Mechanical Job Descript...  Production
19188  Assistant Manager Technical Analyzing fit\r&lt...  Production
20554  Quality Inspector Quality Inspector must have ...  Production
17461  Senior Manufacturing Engineer &lt;P style="FON...  Production

[5000 rows x 2 columns]