In [1]:
# Sampling
# Read Data

import pandas as pd
from ipynb.fs.full.Common import preprocess_data, evaluate

df = pd.read_csv('Twitter_Data.csv')

In [2]:
df.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [3]:
df['category'].unique()

array([-1.,  0.,  1., nan])

In [4]:
df = df.drop_duplicates(["clean_text"]).reset_index(drop=True)

In [5]:
df = df.dropna().reset_index(drop=True)

In [6]:
df['category'].unique()

array([-1.,  0.,  1.])

In [7]:
df_1 = df.loc[df['category'] == -1]
df_2 = df.loc[df['category'] == 0]
df_3 = df.loc[df['category'] == 1]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162969 entries, 0 to 162968
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   clean_text  162969 non-null  object
 1   category    162969 non-null  float64
dtypes: float64(1), object(1)
memory usage: 2.5+ MB

In [9]:
df_1 = df_1.sample(n=3000, random_state=3)
df_2 = df_2.sample(n=3000, random_state=3)
df_3 = df_3.sample(n=3000, random_state=3)

In [10]:
df = pd.concat([df_1, df_2, df_3])

In [11]:
df.head(500)

                                               clean_text  category
153017  modi was center then would have ensured that y...      -1.0
1570    doval has such tremendous record but because m...      -1.0
36164   instead providing jobs poor will give them mon...      -1.0
109970  please answer which chowkidar least not corrup...      -1.0
8679    the average money that the modi governmen payi...      -1.0
...                                                   ...       ...
80940   modi and india educating all locals and villag...      -1.0
109332  likely that india may resume dialogue kartarpu...      -1.0
125473  even large section urban india will vote for c...      -1.0
34943   rajeev saying this govt equally sensitive job ...      -1.0
54444   modi would have spent the funding mandir cow s...      -1.0

[500 rows x 2 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9000 entries, 153017 to 75324
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   clean_text  9000 non-null   object
 1   category    9000 non-null   float64
dtypes: float64(1), object(1)
memory usage: 210.9+ KB

In [13]:
df.to_csv('tweet_sample.csv', index = False, header = True)

In [14]:
df.describe()

          category
count  9000.000000
mean      0.000000
std       0.816542
min      -1.000000
25%      -1.000000
50%       0.000000
75%       1.000000
max       1.000000